# Environment Variables for Vercel Deployment
DATABASE_NAME=the_blissco
MONGOOSE_URI=mongodb+srv://patelshruti0728_db_user:LB34FZhQs1Xapimd@cluster0.5nvbnv3.mongodb.net/?appName=Cluster0
JWT_SECRET=AWDFDFE
REFRESH_JWT_SECRET=JSNFKJS
ACCESS_JWT_SECRET=HDBDFHS
CLOUDINARY_CLOUD_NAME=llzw1dmz
CLOUDINARY_API_KEY=385235447769339
CLOUDINARY_API_SECRET=CVtn8c99wqH_0V6YrRUfdBsuRAY
EMAIL=patelshruti0728@gmail.com
PASS=gzygyryiljwyazvg
